* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #0b0b0b;
  color: #eaeaea;
  font-family: system-ui, sans-serif;
  height: 100vh;
}

main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 4rem;
  font-weight: 500;
}

p {
  margin-top: 1rem;
  color: #b0b0b0;
}